html, head, body { padding:0; margin:0; }

.elm-graph-diagrams__node:hover rect {
  fill: whitesmoke;
}

.elm-graph-diagrams__edge:hover path {
  stroke: grey;
}

.elm-graph-diagrams__edge__ctrlpoint:hover {
  fill: grey;
  stroke: grey;
  r: 5;
}
